<!doctype html>
<html lang="en">
  <head>
    <title>Doc Action Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <!-- referenced by the signin lib -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/cerulean/bootstrap.min.css" rel="stylesheet"> -->

    <!-- /*<style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>*/ -->


    <!-- <script>
      var Gapi

      function googleOnLoadCallback(){
          var initClient = function() {
            gapi.client.init({
              discoveryDocs: ["https://www.googleapis.com/discovery/v1/apis/drive/v3/rest"],
              clientId: "540312807168-vc7q1q8le7ln4s7ku9l8950d4dv6mebp.apps.googleusercontent.com",
              scope: 'https://www.googleapis.com/auth/drive'
            }).then(function() {

              Gapi = gapi
            })
          }

          gapi.load('client:auth2', initClient)
      }
    </script> -->
    <!-- <script async defer src="https://apis.google.com/js/api.js"
      onload="googleOnLoadCallback()"
    ></script> -->

    <!--  this should be handled by the new, fancy directive
    <script src="https://apis.google.com/js/api.js?onload=googleOnLoadCallback"></script>
    -->


  </head>
<body ng-app="FilesApp">
  <div class="container" ng-controller="FilesController as fc">
        <!-- localhost dev -->
        <!-- <google-signin clientid="540312807168-vc7q1q8le7ln4s7ku9l8950d4dv6mebp"> -->
        <!-- production - github.io -->
        <google-signin clientid="540312807168-pjdpttm5me3ieis2gvs5uq1195at77lh">
      </google-signin>
        <!-- <p>^ This is a Google Plus sign-in button</p> -->
      <div class="span6">
        <button ng-hide="fc.signedIn" ng-click="fc.signIn()"
          class="btn btn-primary">Authorize</button>
        <button ng-show="fc.signedIn" ng-click="fc.signOut()"
          class="btn btn-warning">Sign Out</button>
      </div>

  <h2 ng-show="fc.isSignedIn()">Open Actions from Google Docs</h2>



  <div class="row">
    <div class="col-md-6">
     <h4>Google Docs:</h4>

     <label for="searchPhrase">filename contains</label>
     <input type="text" class="form-control" id="searchPhrase" ng-model="fc.searchPhrase">

     <label for="pageItemCount">limit</label>
     <input type="text" class="form-control" id="pageItemCount" ng-model="fc.pageItemCount">
     <br/>
     <button ng-click="fc.fetchFiles()"
       class="btn btn-success">Find Files</button>

     <ul class="list-unstyled">
      <li ng-repeat="item in fc.files">
        <br/>
        <!-- <p ng-show="fc.hasCommentsFor(item.id)">{{ fc.}} -->
        <!-- {{ item }} -->
        <img ng-src="{{ item.iconLink }}"/>
        <img ng-src="{{ item.thumbnailLink }}"/>&nbsp;<a ng-href="{{ item.webViewLink }}" target="_blank">{{ item.name }}</a>
        &nbsp;<button class="btn btn-primary" ng-click="fc.fetchOpenCommentsFor(item.id)">Get AIs</button><br/>
        <p ng-show="(fc.hasCommentsFor(item.id)) && (fc.getOpenCommentsFor(item.id).length <= 0)"
          class="bg-warning">
          No Comments in Document
        </p>
        <table ng-show="fc.getOpenCommentsFor(item.id).length > 0" class="table table-striped">
          <tr ng-repeat="ai in fc.getOpenCommentsFor(item.id)" >
          <!-- ng-hide="ai.resolved" -->
            <td>{{ $index + 1 }}</td>
            <td>
              <img ng-src="{{ ai.author.photoLink }}"/><br/>
              {{ ai.author.displayName }}
            </td>
            <td>
              <p ng-bind-html="fc.getQuotedContent(ai)" class="bg-warning"></p><br/>
              <div ng-bind-html="fc.getCommentContent(ai)"></div><br/>
            </td>
            <!-- <td>
              <p ng-bind-html="fc.getObjectString(ai)"></p>
            </td> -->
          </tr>
        </table>




        <!-- <ol ng-show="fc.getOpenCommentsFor(item.id).length > 0">
          <li ng-repeat="ai in fc.getOpenCommentsFor(item.id)">
           {{ ai }} <br/>
            <span ng-hide="ai.resolved" class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            <span ng-show="ai.resolved" class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <p ng-bind-html="fc.getQuotedContent(ai)" class="bg-warning"></p><br/>
            <div ng-bind-html="fc.getCommentContent(ai)"></div><br/>
            <img ng-src="{{ ai.author.photoLink }}"/>&nbsp;{{ ai.author.displayName }}
          </li>
        </ol> -->
      </li>
     </ul>
     <!-- <div class="emptyMessage" ng-if="docList.itemList.length <= 0">no files!</div> -->
    </div>

    <!-- <div class="col-md-6" ng-controller="ActionItemController as actionList">
     <h2>Open Action Items:</h2>
     <ul>
      <li ng-repeat="item in actionList.itemList">Bought {{ item.htmlContent }}</li>
     </ul>
     <div class="emptyMessage" ng-if="actionList.itemList.length <= 0">No Open Actions.</div>
    </div> -->
  </div>


</div>

<!-- libs -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

<!-- g signin module -->
<script src="lib/googleSignin.js"></script>

<!-- files app -->
<script src="js/filesApp.js"></script>

<!-- google drive api service -->
<script src="js/gdrive.service.js"></script>


</body>
</html>
